html, body {
    height: 100%;
}

h1{
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    color: purple;
}

h2{
    background: rgba(228, 77, 178, 0.712);
    color: rgba(66, 236, 74, 0.822);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body{
    background: url(../images/flat,800x800,070,f.u2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.fighters{
    height: 150px;
    min-width: 133px;
    max-width: 133px;
}

#pictures-row{
    background: rgba(188, 139, 245, 0.918);
}

.card{
    min-width: 133px;
    max-width: 133px;
    overflow: none;
}

.btn{
    max-width: 150px;
}

#fight-log{
    max-height: 200px;
    overflow: auto;
}

#fight-log:nth-child(even){
    background: rgb(240, 230, 230);
}

#atk-btn, #rst-btn{
    display: none;
}

.wrap{
    min-height: 100%;
}