.fighters{
    height: 150px;
    min-width: 133px;
    max-width: 133px;
}

.card{
    min-width: 133px;
    max-width: 133px;
}

.btn{
    max-width: 150px;
}

#fight-log{
    max-height: 200px;
    overflow: auto;
}

#atk-btn, #rst-btn{
    display: none;
}