/*this is a test, delete the .col-6{display:none}*/
/* .col-6{
    display: none;
} */
/*the above is a test, be sure to take it out
when you get further along in the project*/



.fighters{
    height: 150px;
    width: auto;
}

.force-show{
    display: inline-block !important;
}

.force-hide{
    display: none;
}



/* #main-row-pics{
    display: none;
} */